*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	overflow:hidden;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:hidden

}
.s1{
	height: 100vh;
	width:33rem;
	/* background-color: coral; */
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.parent{
	
	height:18.8rem;
	width:18.9rem;
	background-color: #BBADA0;
	display: flex;
	flex-wrap:wrap;
	

}
.cell{
	height:4.7rem;
	width:4.7rem;
	font-size:30px;
	padding-top:1rem;
	padding-left:1.5rem;
	align-items:center;
	border:solid #080401; 
	transition: background-color 300ms linear,color 300ms linear;
}
.board{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top:2rem;
	margin-bottom: 3rem;
	width:100%;
	justify-content: center;
	align-items: center;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.score{
	display: flex;

}
.undo{
	margin-top:2rem;
	width:10rem;
	height: 4rem;
	background-color: rgb(247, 220, 220);
	align-items: center;
	justify-content: center;
	display: flex;
	border-style: solid;
	border-color: black;
	border-radius: 50px;
	
	
	}

.undo:hover{
	
	border-style: solid;
	border-color:  brown;
	cursor:pointer;
}
